  body {
    background-color: #ECF2FF;
  } 

  .isimateri {
  background-color: white;
  padding: 25px;
  margin: 50px 50px;
  }

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figcaption {
    font-size: 12px;
    margin-top: 0px;
    text-align: center;
  }

  .isimateri {
    text-align: justify;
  }

  h1 {
    font-family: Playfair Display, serif;
  }

  p {
    font-family: Source Sans Pro, sans-serif;
  }

  a {
  font-size: 18px;
  font-weight: bold;
  }

  a:hover {
    color: #0F3D3E;
  }

  a:active {
    color: white;
    background-color: #041C32;
  }
